name: GCP-OIDC-Test

on:
  push:
    branches:
      - master

jobs:
  auth-test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Authenticate to GCP (OIDC)
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: projects/750911179926/locations/global/workloadIdentityPools/github-pool/providers/github-provider
        service_account: newactions@project123-483217.iam.gserviceaccount.com

    - name: Setup gcloud
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}

    - name: Verify GCP Access
      run: |
        gcloud auth list
        gcloud projects list
